<mat-toolbar color="primary">
  <div>
    <span>
      <mat-icon class="app-icon" aria-hidden="true">home</mat-icon>
    </span>
  </div>
  <div>
    <span>Crypto Tracker</span>
  </div>
  <div>
    <mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>
  </div>
</mat-toolbar>

<mat-card color="primary">
  <mat-card-title>Crypto Tracker App Title</mat-card-title>
  <mat-card-content>
    <h2>Crypto Tracker App Content</h2>
    <button color="warn" mat-button>test</button>
  </mat-card-content>
</mat-card>
