.banner-card {
  background-color: #2196f3;
  color: white;
}

.banner-img {
  width: 100%;
  height: 10rem;
  background-image: url('../../../assets/banner-img.jpg');
  background-repeat: no-repeat;
}
